.topbar {
    position: fixed; /* Set the position to fixed */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the full width of the viewport */
    background-color: #77B255; /* Background color of the top bar */
    color: #838383; /* Text color */
    padding: 10px; /* Padding around the content */
    z-index: 1000; /* Ensure it appears above other content */
  }

  .selectedItemsContainer {
    height: 80px; /* Set a fixed height */
    overflow-y: auto;
    background-color: white; /* Enable vertical scrolling */
   
  }
  
  .selectedItemsList {
    padding: 5px; /* Add padding to the list */
  }
  .emptyContainer {
    padding: 10px;
    color: #aaa; /* Placeholder text color */
  }
  
  .selectedItemContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .selectedItemTitle {
    flex-grow: 1; /* Allow title to grow to fill available space */
    margin: 10px;
  }

  .descriptionBox{
    margin: 10px;
  }
  
  .siCheckButton2 {
    background-color: #f8be6c;
    color: white;
    font-weight: bold;
    padding: 10px ;
    font-size: 2vh;
    height: 90%;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  .siCheckButton2:hover {
    background-color: #e0ac62;
    color: white;
    font-weight: bold;
    padding: 10px ;
    font-size: 2vh;
    height: 90%;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  .siCheckButton3 {
    background-color: #f8be6c;
    color: white;
    font-weight: bold;
    padding: 10px ;
    font-size: 2vh;
    height: 100%;
    width: 15%;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  .siCheckButton3:hover {
    background-color: #e0ac62;
    color: white;
    font-weight: bold;
    padding: 10px ;
    font-size: 2vh;
    height: 100%;
    width: 15%;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }